<div id="policy-descriptions">
<h3>Policy Descriptions</h3>
<p></p>

<h4 id="SimpleTimeHeuristic">Simple Time Heuristic</h4>
<p><i>We discussed last Monday what this policy does and it is not what Xinyu’s
readme says so the person who is implementing the policy in code please help me
write this description</i></p>

<h4 id="ROV">ROV</h4>
<p>Block route announcements using standard Resource Certification (RPKI) <a
href="https://www.ripe.net/manage-ips-and-asns/resource-management/certification/bgp-origin-validation">
Route Origin Validation</a> (ROV).</p>

<h4 id="EnforceInvalidASNOnly">Enforce Invalid ASN Only</h4>
<p>Block route announcements <i>only</i> when the originating AS is in conflict
with a Route Origin Authorization (ROA). Announcements containing prefixes
exceeding the maximum length authorized by a ROA are <i>allowed</i>.</p> 

<h4 id="EnforceInvalidLengthOnly">Enforce Invalid Length Only</h4>
<p>Block route announcements <i>only</i> when the length of the announced prefix exceeds
the maximum length authorized by a ROA. Announcements originating from an AS
that is not authorized to do so are <i>allowed</i>.</p>

<h4 id="PassIfNoAlternativeRoute">Pass If No Alternative Route</h4>
<p>Not implemented yet. The descriptions below are still Verbatim from Xinyu's
README.</p>

<h4 id="5_Version1_40">5. Version-1</h4>

Output: Pass-If-No-Alternative-Route-Version-1 returns:
2 “Pass” if No alternative prefix from neighbor ASes to to the origin exists.
1 “Deprefer” otherwise

<p>Input: origin of the next best route (integer n)</p>

<h4><a id="6_Version2_46"></a>6. Version-2</h4>

Output: Pass-If-No-Alternative-Route-Version-2 returns:
2 “Pass” if No alternative prefix from neighbor ASes or less specific prefix in the current as to the origin exists.
1 “Deprefer” otherwise

<p>Input:</p>

Origin of the next best route (integer n)
List of prefix-origin pairs for current ASN (pandas.DataFrame df)

