<div class="container">
  <h3>Enter an ASN</h3>
  <form (ngSubmit)="loadTable(req)" #forecastForm="ngForm" style="layout-align:center;">
    <div class="form-group">
      <!-- this label is useless <label for="asn" class="forecast-label">ASN</label> -->
      <input type="text" class="form-control forecast-input" id="asn"
             required
             [(ngModel)]="req.asn" name="asn">
    </div>
    
    <button type="submit" class="btn btn-success"
            [disabled]="!forecastForm.form.valid">Submit</button>
  </form>
  <div id="table-placeholder" style="margin-top:15px">
    <table *ngIf="objKeys(policies).length != 0" class="table">
       <thead>
       <tr>
         <th></th>
         <th>Policy</th>
         <th>Neither Hijacked nor Blocked</th>
         <th class="forecast-green">Hijacked and Blocked</th>
         <th class="forecast-red">Not Hijacked but Blocked</th>
         <th class="forecast-red">Hijacked but not Blocked</th>
       </tr>
       </thead>
       <tr *ngFor="let policy of objKeys(policies)">
         <td><a routerLink="/policy-descriptions">
           <img class="details-question-mark" 
                    title="Click for detailed policy descriptions"
                    data-toggle="tooltip"
                    src="assets/icon-round-question-mark.svg" 
                    type="image/svg+xml"
                    width="14px" height="14px"></a></td>
         <td>
            
           <strong>{{policy}}</strong></td>
         <td>
            {{policies[policy].neitherBlockedNorHijacked}}</td>
         <td class="forecast-green"><strong>{{policies[policy].hijackedAndBlocked}}</strong></td>
         <td class="forecast-red"><strong>{{policies[policy].notHijackedButBlocked}}</strong></td>
         <td class="forecast-red"><strong>{{policies[policy].hijackedButNotBlocked}}</strong></td>
       </tr>
     </table>
  </div>
</div>
